body{ 
	font-size: 15px/1.5 Arial, Helvetica,sans-serif; 
	padding: 0;
	margin: 0;
	background-color:goldenrod;
}
/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

 .button_1{
 	height: 38px;
 	background: blue;
 	border: 0;
 	padding-left: 20px;
 	padding-right: 20px;
 	color: #ffffff;
 	font-size: 16px; 
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

header{
	background: #35424a;
	color:  #ffffff;
	padding-top: 16px;
	min-height: 50px;
	border: #e8491d 1px solid;

}

header a{
	color:  orange;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
}

header li{
     float: left;
     display: inline;
     padding: 0 20px 0 20px;
}

header #branding {
	float: left;

}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin: 10px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: lightyellow;
	font-weight: bold;
}

/* Showcase */
#showcase{
	min-height: 150px;
	background:url('file://localhost/C:/Users/ez%20pawn/Desktop/INFOR%20ASS%202/img/gil.jpeg')  ;
	text-align: center;
	color: #ffffff;
}

#showcase h1{
	margin-top: 90px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
	color: lightblue;
}

#newsletter {
	padding: 10px;
	color: #ffffff;
	background: #35424a;
	
}

 #newsletter h1{
 	float: left;
 }

 #newsletter form{
 	float: right;
 	margin-top: 15px;
 }

 #newsletter input[type="email"]{
 	padding: 4px;
 	height: 25px;
 	width: 250px;
 }

/* Boxes*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
} 

#boxes .box img{
	width: 90px;
}

/* sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px; 
}

/* Main col*/
article#main-col{
	float: left;
	width: 65%;
}

footer {
	padding: 20px;
	margin-top: 50px;
	color:white;
	background-color:rgb(200, 164, 247);
	text-align: center;
	text-decoration-color: grey;
}